<%# <%=form_with model: @listing, local: true do |f|%> 
<%= simple_form_for @listing do |f|%>
    <%= f.error_notification %>

    <%= f.input :brand_id %>

    <%= f.input :model %>

    <%= f.input :condition %>

    <%= f.input :movement %>

    <%= f.input :case_details %>

    <%= f.input :strap %>

    <%= f.input :year %>

    <%= f.input :authenticity, as: :radio_buttons %>

  <div class='form-group mb-3'> 
    <%=f.label :category_id, class: "form-label"%>
    <%=f.select :category_id, @categories.map {|c| [c.name, c.id]}, class: "form-select"%>
  </div>

   <div class='form-group mb-3'> 
    <%=f.label :description, class: "form-label"%>
    <%=f.text_area :description, class: "form-control"%>
  </div>

    <div class='form-group mb-3'> 
    <%=f.label :price, class: "form-label"%>
    <%=f.number_field :price%>
  </div>

<div class='actions'> 
   <%=f.submit%>
  </div>
<%end %>