<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
    <div class="content col-12 col-md-7 col-lg-8 p-0 pr-md-3">
        <div class="col-12 p-0 main-preview mb-4">
            <%=image_tag "patek.jpg", alt: "Patek Philippe watch", class: "thumbnail card-img-top"%>
        </div>
    </div>
    <div class="sidebar col-lg-4 p-0 mx-2 d-md-block"> 
        <h1 class="mb-sm-2 mb-md-5"><%=@brand.name%></h1>
        <h4 class="text-muted">Model: <%=@listing.model%></h4>
        <h4 class="text-muted">Condition: <%=@listing.condition%></h4>
        <h4 class="text-muted">Movement: <%=@listing.movement%></h4>
        <h4 class="text-muted">Case: <%=@listing.case_details%></h4>
        <h4 class="text-muted">Strap: <%=@listing.strap%></h4>
        <h4 class="text-muted">Year of purchase: <%=@listing.year%></h4>
        <h4 class="text-muted">Authenticity: <%=@listing.authenticity%></h4>
        <h4 class="text-muted">Description: <%=@listing.description%></h4>
        <h4 class="text-muted">Price: <%=format_pricing(@listing.price)%></h4>
    </div>
    
</section>