<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
    <div class="content col-12 col-md-7 col-lg-8 p-0 pr-md-3">
        <div class="col-12 p-0 main-preview mb-4">
            <%if @listing.picture.attached?%>
                <%=image_tag @listing.picture, alt: @brand.name, class: "thumbnail card-img-top"%>
            <%else%>
                <%=image_tag "patek.jpg", alt: @brand.name, class: "thumbnail card-img-top"%>
            <%end%>
        </div>
    </div>
    <div class="sidebar col-lg-4 p-0 mx-2 d-md-block"> 
        <h1 class="mb-sm-2 mb-md-5"><%=@brand.name%></h1>
        <h4 class="text-muted">Model: <%=@listing.model%></h4>
        <h4 class="text-muted mb-3">Condition: <%=@listing.condition%></h4>
        <h4 class="text-muted mb-3">Movement: <%=@listing.movement%></h4>
        <h4 class="text-muted mb-3">Case: <%=@listing.case_details%></h4>
        <h4 class="text-muted mb-3">Strap: <%=@listing.strap%></h4>
        <h4 class="text-muted mb-3">Year of purchase: <%=@listing.year%></h4>

        <% if @listing.authenticity == true %>
            <h4 class="text-muted mb-3">Authenticity verified by The Watch Collection</h4>
        <% else %>
            <h4 class="text-muted mb-3">Paperwork not included</h4>
        <%end%>
        <h4 class="text-muted mb-3">Description: <%=@listing.description%></h4>
        <h4 class="text-muted mb-3">Price: <%=format_pricing(@listing.price)%></h4>

        <%# conditional statement only loads payment access if logged in, reducing overall load time %>
        <%if current_user && @listing.sold == false %>
            <%=button_to "Buy: #{format_pricing(@listing.price)}", 
                checkout_session_path,
                remote: true,
                method: :post,
                params: {id: @listing.id},
                class: "btn btn-secondary mb-3 p-2",
                data: {disable_with: "Loading..."}%>
        <%elsif @listing.sold == true %>
            <button class="btn btn-dark" disabled>SOLD</button>
        <%else%>
            <%=button_to "Login to purchase", new_user_session_path, class: "btn btn-info"%>
        <%end%>
    
        <div class="container">
            <%if current_user && current_user.id == @listing.user_id && @listing.sold == false%>
                <div class="d-flex justify-content-equally">
                    <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-secondary mr-2"%>
                    <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"}, class: "btn btn-dark mr-2"%>
                </div>
            <%end%>
        </div>
    </div>
</section>