<!DOCTYPE html>
<html>
  <head>
    <title>TheWatchCollection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# script tag allows to load stripe when clicking to purchase %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
  <%# flash message setup, rendering eg. login/logout confirmation %>
    <%flash.each do |key, value|%>
      <div class="alert alert-<%=alert_subclass(key)%> alert-dismissable fade show" role="alert">
        <%=value%>
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>
    <%end%>
    <%# navbar partial %>
    <%= render "shared/navbar"%>
    <%= yield %>
  </body>
</html>
